<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: "MarketRadar"}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>Find Your New Investment</h2>
            <a href="/stocks" class="btn">Learn More!</a>
        </section>
        <section class="about">
            <h2>About</h2>
            <p> Welcome to our stock watchlist website! We are a team of finance enthusiasts who are passionate about providing investors with the tools and information they need to make informed investment decisions.
            </p>
            <p>Our website offers a user-friendly platform where you can get real-time market news and analysis, and connect with a community of informed investors. Our aim is to empower you to take control of your financial future by providing timely and accurate information that can help you make smarter investment decisions.
            </p>
            <p>Whether you're new to the world of investing or an experienced trader, our website is designed to meet your needs. Our platform is easy to use, accessible from any device, and offers a range of features to help you stay ahead of the game.</p>
            <p>At our core, we are committed to transparency, accessibility, and user-centricity. We believe that everyone should have access to the information they need to succeed in the world of finance, and we are dedicated to creating a platform that is ethical, trustworthy, and inclusive.</p>
            <p>Thank you for choosing our stock watchlist website. We look forward to helping you achieve your investment goals.
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>

        <section class="featured-stocks">
            <h2>Featured Stocks</h2>
            <ul class="stock-grid">
                <% for (let stock of stocks) { %>
                    <li>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= stock.name %></h3>
                        </div>
                        <a href="/stocks/<%= stock._id %>" class="btn">Learn More</a>
                    </figcaption>
                    <img class="stockimg" src=" <%= stock.photo %>">
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
