<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Furever Friends'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>Find Your New Investment</h2>
            <a href="/stocks" class="btn">Learn More!</a>
        </section>
        <section class="about">
            <h2>About</h2>
            <p> I have collected all of the best performing stocks in own personal porfolio and stocks in the market that are under-performing  and curated a watchlist in hopes of helping myself and others invest/trade for more profits.
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>

        <section class="featured-stocks">
            <h2>Featured Stocks</h2>
            <ul class="stock-grid">
                <% for (let stock of stocks) { %>
                    <li>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= stock.name %></h3>
                        </div>
                        <a href="/stocks/<%= stock._id %>" class="btn">Learn More</a>
                    </figcaption>
                    <img class="stockimg" src=" <%= stock.photo %>">
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
