<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Create an Application | Furever Friends'}) %>
    <link rel="stylesheet" href="/styles/stock-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Stock Application</h2>
        <h4><i>You're applying to post <a href="/stocks/<%= stock._id %>"><%= stock.name %></a></i></h4>
    </section>

    <form action="/applications/create/<%= stock._id %>" method="POST">
        <label for="applicantName">Applicant Name:</label><br>
        <input type="text" id="applicantName" name="applicantName" required><br>

        <label for="applicantEmail">Applicant Email:</label><br>
        <input type="email" id="applicantEmail" name="applicantEmail" required><br>

        <label for="applicantPhone">Applicant Phone:</label><br>
        <input type="tel" id="applicantPhone" name="applicantPhone" required><br>

        <label for="reasonForPosting">Reason for reasonForPosting:</label><br>
        <textarea id="reasonForPosting" name="reasonForPosting" required></textarea><br>


        <input type="submit" value="Submit">
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
